body {
	font-family: Arial;
	background: #ccc;
	background-image: url("Fondo.png");
	width: 80%;
	margin: 20px auto;
}

header {
	background-color:	#000000;
	color: #fff;
	padding: 20px;
}

/* Eliminar las viñetas del menu */

header ul{
	list-style: none;
}
/*Eliminar el subrayado de los enlaces */
header ul li a{
	color: #fff;
	text-decoration: none;
	padding: 20px;
}

header ul li a:hover {
	background-color: #7FFF00;
}


main {
	background-color: #fff;
	padding: 20px;
}

footer {
	background-color: 	#000000;
	color: #fff;
	padding: 10px;
}